[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-model-utils = "*"
django-taggit = "*"
gunicorn = "*"
django-simple-history = "*"
bleach = "*"
django-storages = "*"
environs = "*"
pillow = "*"
django-q = "*"
drf-excel = "*"
djangorestframework-csv = "*"
django-rest-swagger = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
black = "*"
coveragepy = "*"
faker = "*"
nplusone = "*"
pytest = "*"

[requires]
python_version = "3.10"
